body {
    font-family: Arial;
    background: #f5f7fa;
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background: #1e293b;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.5px;
}

.logo:hover {
    color: #4f7cff;
}

/* NAV */
nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

nav a:hover {
    color: #4f7cff;
}

/* MAIN */
main {
    padding: 40px;
}

/* TEXT */
h1, h2 {
    color: #111;
}

p {
    color: #555;
}

/* BUTTONS */
button {
    background: #4f7cff;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background: #365edc;
}

/* INPUTS */
input {
    padding: 10px;
    width: 260px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* CARDS */
.card {
    background: white;
    padding: 35px;
    max-width: 520px;
    margin: 80px auto;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.07);
    text-align: center;
}
